.movie {
    width: 20%;
    min-width: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;

    .image {
        width: 100%;
    }
}
